h1 {
  color: #053d28;
  text-align: center;
  font-size: 50px;
}

.calendar {
  margin-top: 50px;
  &-grid {
    margin: auto;
    width: fit-content;
    gap: 20px;
    position: relative;
    max-width: 874px !important;
    justify-content: center;
    background-color: #8e587c8e;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    padding: 20px;
    border-radius: 10px;
  }

  &__item {
    border-radius: 10px;
    background-color: #458055;
    background-color: #F5EEE6;
    font-family: "Kanit", sans-serif;
    font-weight: 600;
    font-style: normal;
    font-size: 100px;
    color: #d3a980;
    // color: rgb(142, 88, 124);
    cursor: pointer;
    transition: all .2s linear;
    transform-style: preserve-3d;
    transition: transform 0.5s;
    perspective: 1000px;
    position: relative;
    height: 200px;
    width: 200px;
    transition: all .6s ease-in-out;
    border-style: solid; 
    box-shadow: rgba(0, 0, 0, 0.16) 0px 3px 6px, rgba(0, 0, 0, 0.23) 0px 3px 6px;
    font-family: "Bebas Neue", sans-serif;
    font-weight: 400;
    letter-spacing: 1.8px;

    &.flipped {
      transform: rotateY(180deg);

      .calendar__item--back {
        display: block;
      }
    }

    &:hover { 
      -webkit-mask: linear-gradient(-60deg, #000 30%, #0005, #000 50%) right / 300% 100%;
      mask: linear-gradient(-60deg, #000 30%, #0005, #000 50%) right / 300% 100%;
      background-repeat: no-repeat;
      animation: shimmer 1.2s infinite;
      scale: 1.05;
      z-index: 2;
      box-shadow: rgba(50, 50, 93, 0.25) 0px 13px 27px -5px, rgba(0, 0, 0, 0.3) 0px 8px 16px -8px;

    }

    &.christmas {
      font-weight: bold;
      background-color: #310303;
      grid-column: span 3;
      width: 100%;
      color: #F5EEE6;
      background-color: #ebccad;
    }

    &--front {
      width: 100%;
      height: 100%;
      position: absolute;
      backface-visibility: hidden;
      background-repeat: no-repeat;
      top: 0;
      transform: rotateY(0); // To show the front by default
      display: grid;
      place-items: center;

      &-title {
        font-size: 60px;
        text-align: center;
        margin: 0;
      }
    }

    &--back {
      background-color: #3d845d;
      background-color: rgb(133, 147, 123);
      width: 100%;
      height: 100%;
      position: absolute;
      display: none;
      transform: rotateY(180deg); 
      top: 0;
      border-radius: 10px;
      font-size: 30px;
    }

    &--disabled {
      opacity: 0.5;
      cursor: not-allowed;
    }

    &__back-content {
      padding: 15px;
      height: 90%;
      display: flex;
      flex-direction: column;
      justify-content: space-evenly;

      p {
        margin: 0;
        font-size: 24px;
        margin-bottom: 10px;
        font-weight: 400;
        color: #F5EEE6;
      }
    }
  }
}

@keyframes shimmer {
  0% {
    -webkit-mask-position: 140% 140%;
    mask-position: 140% 140%;
  }
  100% {
    -webkit-mask-position: -20% -20%;
    mask-position: -20% -20%;
  }
}