.navbar {
  background-color: #310303;
  margin-bottom: 50px;

  &__list {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 23px;
    margin: 0;
    padding: 30px;
    box-shadow: rgba(0, 0, 0, 0.1) 0px 4px 6px -1px, rgba(0, 0, 0, 0.06) 0px 2px 4px -1px;
    flex-flow: row wrap;

    li {
      font-size: 20px;
      font-weight: bold;
      letter-spacing: 1.2px;
      transition: all .3s ease-in-out;

      a {
        color: #e4b1ab;
        transition: all .3s ease-in-out;
        font-family: "Bebas Neue", sans-serif;
        font-weight: 400;
        letter-spacing: 2.5px;
      }

      &:hover {
        transform: scale(1.04);
        a {
          color: #f9dbbd;
        }
      }
    

    }
  }
}