.rhymes {
  &-intro {
    max-width: 800px;
    margin: 30px auto;
  }

  h3 {
    margin-top: 15px;
  }

  ul {
    margin-top: 10px;

    li {
      margin-bottom: 5px;

      &::before {
        content: url('../images/list-bullet-2.svg');
        width: 20px;
        height: 20px;
        display: inline-block;
        margin-right: 6px;
      }
    }
  }

  &-inputs {
    display: flex;
    flex-direction: column;
    max-width: 700px;
    margin: 50px auto;
    border: 3px solid #053d28;
    padding: 30px;
    border-radius: 30px;

    legend {
      font-size: 28px;
      font-weight: bold;
      text-transform: uppercase;
      color: #053d28;
      margin-inline: 20px;
      padding-inline: 10px;
    }

    label {
      font-size: 20px;
      margin-bottom: 8px;
    }

    textarea, input {
      padding: 15px;
      outline: none;
      border: 2px solid #053d28;
      background: rgba(255, 255, 255, 0.3);
      border-radius: 30px;
      font-size: 18px;
      margin-bottom: 15px;
    }

    textarea {
      resize: none;
    }
  }

  &-container {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    justify-content: center;
    gap: 20px;
    max-width: 900px;
    margin: 0 auto 50px auto;

    &__rhyme {
      border: 2px solid #053d28;
      background-color: #053d28;
      color: #f9dbbd;
      border-radius: 10px;
      padding: 30px;
    }

    h2 {
      font-size: 36px;
      font-weight: bold;
      margin-bottom: 15px;
    }

    &__text {
      font-size: 24px;
      margin-bottom: 20px;
    }
  }

  &__number {
    background-color: #f9dbbd;
    width: fit-content;
    color: #053d28;
    width: 40px;
    height: 40px;
    border-radius: 50%;
    position: relative;
    background-image: linear-gradient(43deg, #e4b1ab 25%, #F6F0CF 25%, #F6F0CF 50%, #e4b1ab 50%, #e4b1ab 75%, #F6F0CF 75%, #F6F0CF 100%);
    background-size: 23.46px 21.88px;
    margin-bottom: 10px;
    font-size: 20px;
    display: grid;
    place-items: center;
    filter: drop-shadow(3px 3px 2px #1c1c1c);

    &::before {
      content: '';
      height: 15px;
      width: 8px;
      position: absolute;
      bottom: 98%;
      left: 16px;
      background-color: #f9dbbd;
      border-radius: 50px 50px 0 0;
    }

    &::after {
      content: '';
      height: 13px;
      width: 4px;
      position: absolute;
      bottom: 99%;
      background-color: #053d28;
      z-index: 1;
      left: 18px;
      border-radius: 50px 50px 0 0;
    }

  }
}